@import './header';
@import './config';
@import './ieContainer';
@import './transaction';
@import './balance';

*{
    box-sizing: border-box;
}
  
body{
    background-color: $bg-color; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.container{
    margin: 30px auto;
    width: 350px;
}
  
  